<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Grammatisch</title>
</head>
<body>
<form action="/step02" method="post">
    <div>
        <label for="grammar">grammar</label>
        <textarea id="grammar" name="grammar">{{ .grammar }}</textarea>
    </div>
    <input type="submit"/>
</form>
</body>
</html>
