<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Grammatisch</title>
</head>
<body>
<form action="/step05" method="post">
    <div>
        <label for="ast">ast</label>
        <textarea id="ast" name="ast">{{ .ast }}</textarea>
    </div>
    <input type="submit"/>
</form>
</body>
</html>
