{{define "step02"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Grammatisch</title>
</head>
<body>
<form action="/step03" method="post">
    <div>
        <label for="astRegex">astRegex</label>
        <textarea id="astRegex" name="astRegex">{{ .astRegex }}</textarea>
    </div>
    <input type="submit"/>
</form>
</body>
</html>
{{end}}
