<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Grammatisch</title>
</head>
<body>
<form action="/step01" method="post">
    <div>
        <label for="grammars">grammars</label>
        <select id="grammars" name="grammars">
            <option value="calculator">Calculator</option>
            <option value="simple">Simple grammar</option>
        </select>
    </div>
    <input type="submit"/>
</form>
</body>
</html>
